{% extends "base.html" %}
{% block title %} API Access Not Available {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        ACCU {{ page.year }} – API Access Not Available
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="inconvenience">
            <p>The ACCU {{ page.year }} API is not available at this time</p>
        </div>
    </div>
</div>
{% endblock %}
