{% extends "base.html" %}
{% block title %} API Access Available {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        ACCU {{page.year}} – API Access Available
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="inconvenience">
            <p>The ACCU {{page.year}} API access to the schedule information is currently available.</p>
        </div>
    </div>
</div>
{% endblock %}
