{#  -*- mode: jinja2; coding: utf-8; -*- #}

{% macro cocbits() %}
	<h4>
		<a href="https://twitter.com/ACCUConf">@ACCUConf</a>
		<a href="https://twitter.com/hashtag/ACCUConf">#ACCUConf</a>
	</h4>
	<h3>
		<a href="https://conference.accu.org/coc_code_of_conduct.html">Code of Conduct</a>
	</h3>
	<br/>
{% endmacro %}

{% macro dates() %}
	<ul class="nolist list-group">
		<li> Call for Proposals: 2018-10-05 to 2018-10-26 </li>
		<li> Notification Date: 2018-01-18 </li>
		<li> Schedule Announcement: 2018-01-25 </li>
		<li> Workshops Day: 2019-04-09 </li>
		<li> Conference: 2019-04-10 to 2019-04-13 </li>
	</ul>
{% endmacro %}

{% macro location() %}
	<p><a href="http://www.marriott.co.uk/hotels/travel/brsdt-bristol-marriott-hotel-city-centre/">Bristol Marriott Hotel City Centre</a></p>
<p>
	2 Lower Castle Street<br/>
	Old Market<br/>
	Bristol<br/>
	England BS1 3AD<br/>
	United Kingdom
</p>
{% endmacro %}


<!-- div>
     <p><a href="https://www.techatbloomberg.com/"><img src="/assets/images/2018_SponsorLogos/Bloomberg_black.png" alt="Bloomberg Logo" class="img-responsive img-rounded center-block"/></a></p>
     <br/>
<p><a href="https://www.jetbrains.com/"><img src="/assets/images/2018_SponsorLogos/Jetbrains_NL.jpg" alt="JetBrains Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="http://undo.io/"><img src="/assets/images/2018_SponsorLogos/Undo_Master_3x.png" alt="Undo Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="http://mosaic.fm/"><img src="/assets/images/2018_SponsorLogos/MosaicLogo.png" alt="Mosaic Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="https://www.conan.io/"><img src="/assets/images/2018_SponsorLogos/jfrog_conan_logo.png" alt="JFrog Conan Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="https://www.kdab.com/"><img src="/assets/images/2018_SponsorLogos/KDAB_logo.png" alt="KDAB Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="https://www.wibu.com/"><img src="/assets/images/2018_SponsorLogos/ws_logo_P321.jpg" alt="WIBU Logo" class="img-responsive img-rounded center-block"/></a></p>
<br/>
<p><a href="http://snsystems.com/"><img src="/assets/images/2018_SponsorLogos/SNSystemsLogo.png" alt="SNSystems Logo" class="img-responsive img-rounded center-block"></a></p>
<br/>
<p><a href="https://www.riverblade.co.uk"><img src="/assets/images/2018_SponsorLogos/Riverblade.png" alt="Riverblade Logo" class="img-responsive img-rounded center-block"></a></p>
<br/>
<p><a href="http://www.qbssoftware.com/products/Intel_Parallel_Studio_XE/overview/_prodintelparxe"><img src="/assets/images/2018_SponsorLogos/QBS.png" alt="QBS Logo" class="img-responsive img-rounded center-block"></a></p>
<br/>
<p><a href="http://www.five.ai/"><img src="/assets/images/2018_SponsorLogos/Five-AI-logo.png" alt="Five AI Logo" class="img-responsive img-rounded center-block"></a></p>
<br/>
<div -->


{% macro sponsors() %}
	<!-- div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sponsors</h3>
		</div>
		<div class="panel-body">

		</div>
	</div -->
{% endmacro %}

{% macro committee() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Programme Committee</h3>
		</div>
		<div class="panel-body">
			<ul class="nolist">
				<li> Russel Winder (Chair) </li>
				<li> Gail Ollis </li>
				<li> Roger Orr </li>
				<li> Felix Petriconi </li>
				<li> CB Bailey </li>
				<li> Anastasia Kazakova </li>
				<li> Jon Kalb </li>
				<li> Nina Dinka Ranns </li>
				<li> Francis Glassborow </li>
			</ul>
		</div>
	</div>
{% endmacro %}

{% macro organiser() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Organiser</h3>
		</div>
		<div class="panel-body">
			<a href="http://www.archer-yates.co.uk/">
				<img class="img-float-right" src="https://conference.accu.org/assets/images/AYA_holding.png" width="50" alt="AYALogo"/>
			</a>
			<a href="http://www.archer-yates.co.uk/">
				<h4> Archer Yates Ltd </h4>
			</a>
			<ul class="nolist">
				<li> 7 Threshers Yard </li>
				<li> West Street </li>
				<li> Kingham </li>
				<li> Oxfordshire OX7 6YF </li>
				<li> </li>
				<li> Telephone: +44 1608 659900 </li>
				<li> Fax: +44 1608 659911 </li>
				<li> Email: julie@archer-yates.co.uk </li>
			</ul>
		</div>
	</div>
{% endmacro %}


{% macro countdown() %}
	<div class='cvt-main-app' data-widget-url='www.cvent.com/d/wvqv91/6V'>
		<script type='text/javascript'>
			window.cvtDomain = 'www.cvent.com'
			var cventWidgetLoaderScript = document.createElement('script')
			var numberOfHoursFrom1970 = new Date().getTime() / (3600 * 1000)
			cventWidgetLoaderScript.src = '//www.cvent.com/g/mobile/javascript/widget-loader.js?versioninhrs=' + numberOfHoursFrom1970
			document.getElementsByTagName('head')[0].appendChild(cventWidgetLoaderScript)
		</script>
	</div>
{% endmacro %}
