{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="pagetitle">
		ACCU {{page.year}} – {{page.pagetitle}}
	</div>
</div>
<div class="row">
	<div class="container-fluid">
		<p class="first">
			{{page.data}}
		</p>
	</div>
</div>
<div class="row">
	<div class="container-fluid">
		<p class="alert" id="alert"></p>
	</div>
</div>
<div class="row">
	<div class="container-fluid">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="email" class="col-md-3"> Email </label>
				<div class="col-md-offset-1">
					<input type="text" name="email" id="email" placeholder="Email">
					<span class="help-block" id="email_alert"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="passphrase" class="col-md-3"> Passphrase</label>
				<div class="col-md-offset-1">
					<input type="password" name="passphrase" id="passphrase" placeholder="Passphrase">
					<span class="help-block" id="passphrase_alert"></span>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" name="login" id="login" onclick="loginUser()">Login
				</button>
				<button type="reset" class="btn btn-default" onclick="clearLoginAlerts()">Reset</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
