{% extends "base.html" %}
{% block title %} Call for Proposals {% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        ACCU {{page.year}} – Call for Proposals
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="inconvenience">
            <p>The ACCU {{page.year}} Call for Proposals is supposedly open, but is not implemented just now.</p>
        </div>
    </div>
</div>
{% endblock %}