{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        ACCU {{page.year}} – Registration
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <form class="form-horizontal" id="registrationForm" method="POST" action="/register">
            <div class="form-group">
                <label for="email" class="control-label col-sm-3">Email</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="email" name="email" placeholder="Email" value="{{ page.email }}" aria-describedby="emailhelp">
                    <span class="help-block" id="emailhelp"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="passphrase" class="control-label col-sm-3">Passphrase</label>
                <div class="col-sm-offset-1">
                    <input type="password" id="passphrase" name="passphrase" placeholder="Passphrase" aria-describedby="passphrasealert">
                    <span class="help-block" id="passphrasealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="cpassphrase" class="control-label col-sm-3">Retype Passphrase</label>
                <div class="col-sm-offset-1">
                    <input type="password"  id="cpassphrase" name="cpassphrase" placeholder="Retype Passphrase" aria-describedby="cpassphrasealert">
                    <span class="help-block" id="cpassphrasealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-sm-3">Name</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="name" name="name" value="{{ page.name }}" placeholder="Name" aria-describedby="namealert">
                    <span class="help-block" id="namealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="control-label col-sm-3">Phone number with ISD code</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="phone" name="phone" value="{{ page.phone }}" placeholder="+44 20 1234 5678" aria-describedby="phonealert">
                    <span class="help-block" id="phonealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="control-label col-sm-3">Country</label>
                <div class="col-sm-offset-1">
                    <select id="country" name="country"  aria-describedby="countryalert">
                        {% for x in countries %}
                        <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block" id="countryalert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="control-label col-sm-3">State/Province</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="state" name="state" value="{{ page.state }}" placeholder="State/Province">
                    <span class="help-block" id="statealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="postalcode" class="control-label col-sm-3">Postal/Pin/Zip Code</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="postalcode" name="postalcode" value="{{ page.postal_code }}" placeholder="Postal/Pin/Zip code">
                    <span class="help-block" id="postalcodealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="towncity" class="control-label col-sm-3">Town/City</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="towncity" name="towncity" value="{{ page.town_city }}" placeholder="Town/City">
                    <span class="help-block" id="towncityalert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="streetaddress" class="control-label col-sm-3">Street Address</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="streetaddress" name="streetaddress" value="{{ page.street_address }}" placeholder="Street Address">
                    <span class="help-block" id="streetaddressalert"></span>
                </div>
            </div>
            {% if page.mode !='edit_mode' %}
                <div class="form-group">
                    <label for="captcha" class="control-label col-sm-3">Solve this puzzle</label>
                    <label for="captcha" class="puzzle" class="col-sm-3"> {{ page.puzzle }} </label>
                    <div class="col-sm-offset-1">
                        <input type="hidden" id="captcha" name="captcha" value="{{ page.question }}">
                        <input type="text" id="puzzle" name="puzzle" placeholder="Solve" class="puzzle">
                        <span class="form-alert pull-right" id="captchaalert"></span>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" id="submit"  class="btn btn-primary">{{ page.submit_button }}</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </form>
    </div>
</div>
<div class="notice">
  <p>
    The data collected here will only be available to people organising the conference for the purpose of
    organising the conference.
  </p>
</div>
{% endblock %}
