{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        ACCU {{page.year}} – {{page.pagetitle}}
    </div>
</div>
<div class="row">
   <div class="container-fluid">
       <p class="first">
           {{page.data}}
       </p>
       <table id="review_list_table">
         {% for proposal in page.proposals %}
         <tr>
           <td><a href="/review_proposal/{{proposal[0]}}">{{proposal[1]}}</a></td>
           <td><a href="/review_proposal/{{proposal[0]}}">{{proposal[2]}}</a></td>
         </tr>
         {% endfor %}
       </table>
   </div>
</div>
{% endblock %}
