.pagetitle {
    font-size: 20pt;
}

.help-block {
    color: orange;
}

.alert {
    color: red;
}

#footer {
    color: black;
    background-color: #eeeeee;
}

.reviewed-column {
    text-align: right;
}