.pagetitle {
    font-size: 20pt;
}

.help-block {
    color: orange;
}

.alert {
    color: red;
}

.img-float-left {
    float: left;
}

.img-float-right {
    float: right;
}

#footer {
    color: black;
    background-color: #eeeeee;
}

.reviewed-column {
    text-align: right;
}

.proposal-notes-title {
    font-style: italic;
}